@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #0d0d0d;
		--background: #fafafa;
		--border: #dddddd;
		--primary: #0a4785;
		--secondary: #dbdbdb;
		--accent: #36d9d9;
	}

	.dark {
		--text: #f2f2f2;
		--background: #050505;
		--border: #333333;
		--primary: #7ab8f5;
		--secondary: #242424;
		--accent: #26c9c9;
	}
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
